rdflib
pandas

xlsxwriter
numpy
openpyxl
requests
python-dotenv
python-slugify
pyodbc  
sqlalchemy
Flask-SQLAlchemy
jupyterlab
uuid
sssom
gspread
fuzzywuzzy
python-Levenshtein
SPARQLWrapper

rdflib
openpyxl
natsort
owlready2